<div class="container mt-5">
    <div class="card shadow-lg" style="border-radius: 15px;">
      <div class="card-body text-center">
        <div class="profile-header bg-gradient-primary" style="border-radius: 15px 15px 0 0; padding: 20px; background: linear-gradient(90deg, #ddc79e,#ddc79e );">
          <img src="https://img.freepik.com/free-photo/woman-posing-park-winter_23-2148820447.jpg" class="rounded mb-3 w-25 " alt="profile" width="80">
          <h5 class="text-white">Edit Profile</h5>
        </div>
  
        <form class="mt-4">
          <!-- User Name -->
          <div class="form-group mb-3">
            <label class="form-label d-flex justify-content-start" for="username">User Name</label>
            <input type="text" id="username" class="form-control" placeholder="Enter your name">
          </div>
  
          <!-- ID -->
          <div class="form-group mb-3">
            <label class="form-label d-flex justify-content-start" for="id"> ID</label>
            <input type="text" id="id" class="form-control" placeholder="Enter your ID">
          </div>
  
          <!-- City -->
          <div class="form-group mb-3">
            <label class="form-label d-flex justify-content-start" for="city"> City</label>
            <select id="city" class="form-control">
              <option value="Cairo">Cairo</option>
              <option value="Cairo">Hurghada</option>
              <option value="Cairo">Alxandrya</option>
            </select>
          </div>
  
          <!-- Password -->
          <div class="form-group mb-3">
            <label class="form-label d-flex justify-content-start" for="password">Old Password</label>
            <input type="password" id="password" class="form-control" placeholder="Enter your password">
          </div>
          <div class="form-group mb-3">
            <label class="form-label d-flex justify-content-start" for="password">New Password</label>
            <input type="password" id="password" class="form-control" placeholder="Enter your password">
          </div>
  
          <button type="submit" class="btn btn-primary w-100">Save Changes</button>
        </form>
      </div>
    </div>
  </div>