<div class="container">
  <form class="mt-4" (ngSubmit)="onSubmit()" *ngIf="currentUser">

    <!-- First Name -->
    <div class="form-group mb-3">
      <label class="form-label d-flex justify-content-start" for="firstName">First Name</label>
      <input type="text" id="firstName" class="form-control" [(ngModel)]="currentUser.first_name" name="firstName" placeholder="Enter your first name" required>
    </div>
  
    <!-- Last Name -->
    <div class="form-group mb-3">
      <label class="form-label d-flex justify-content-start" for="lastName">Last Name</label>
      <input type="text" id="lastName" class="form-control" [(ngModel)]="currentUser.last_name" name="lastName" placeholder="Enter your last name" required>
    </div>
  
    <!-- Email -->
    <div class="form-group mb-3">
      <label class="form-label d-flex justify-content-start" for="email">Email</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="currentUser.email" name="email" placeholder="Enter your email" required>
    </div>

  
    <!-- New Password -->
    <div class="form-group mb-3">
      <label class="form-label d-flex justify-content-start" for="newPassword">New Password</label>
      <input type="password" id="newPassword" class="form-control" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password">
    </div>
  
    <!-- Confirm Password -->
    <div class="form-group mb-3">
      <label class="form-label d-flex justify-content-start" for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
    </div>
  
    <button type="submit" class="btn btn-primary w-100">Save Changes</button>
  </form>
</div>