*{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

.menu{

  background: var(--color-gradient);
  border-radius: 0 50px 10px 0;
  width: 90px  !important;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s;

}
.menu:hover{
 width: 17% !important;
}





ul{
  list-style: none;
  position: relative;
  height: 95%;
}

ul li a{
  font-size: 25px;
  display: block;
  text-decoration: none;
  height: 40px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 40px;
  transition: 0.5s;


}
ul li a:hover , .active{
  background-color: rgb(195, 108, 57);
}


.logout{
  position: absolute;
  bottom: 0;
 background-color: #c72323;
 width: 40px;
}


.logout:hover{
  width: 190px;
  background-color: #d00d0d;


}



td ,th{
 background: #123;
 height: 40px;
 border-radius: 10px;
 transition: 0.5s;
}


th{
  background-color: #ff9d00;
  color: rgb(255, 255, 255);
}


