<div class="d-flex">
  <!-- Sidebar Menu -->
  <div class="menu" style="width: 250px;">
    <ul style="list-style: none; padding: 0;">
      <li style="margin-bottom: 70px;">
        <a href="" class="active">
          <i class="fas fa-home"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <hr style="color: black;">

      <li style="margin-bottom: 50px;">
        <a routerLink="/user-add" routerLinkActive="active">
          <i class="fas fa-user-group"></i>
          <p>Users</p>
        </a>
      </li>

      <li style="margin-bottom: 50px;">
        <a routerLink="/product-list" routerLinkActive="active">
          <i class="fas fa-table"></i>
          <p>Products</p>
        </a>
      </li>

      <li>
        <a routerLink="/edit-product" routerLinkActive="active">
          <i class="fas fa-pen"></i>
          <p>Edit Products</p>
        </a>
      </li>

      <li>
        <a href="" class="logout">
          <i class="fas fa-sign-out"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>

  <!-- Routing Content -->
  <div class="content" style="flex-grow: 1; padding-left: 20px;">
    <router-outlet></router-outlet>
  </div>
</div>
