<div class="section">
    <div class="container">
        <div class="card">
            <div class="row">
                <!-- Left side (Product Table) -->
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5 class="text-center">Shopping Cart</h5>
                    <div class="table-responsive"> <!-- Add responsive wrapper -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr" *ngFor="let item of cartItems">
                                    <td>{{item.name}}</td>
                                    <td>{{item.price | currency}}</td>
                                    <td class="special">
                                        <div class="input-group">
                                            <button class="btn-quantity" type="button"
                                                (click)="decreaseQuantity(item)">-</button>
                                            <input type="text" class="form-control quantity-input"
                                                [(ngModel)]="item.quantity">
                                            <button class="btn-quantity" type="button"
                                                (click)="increaseQuantity(item)">+</button>
                                        </div>
                                    </td>
                                    <td>{{item.price * item.quantity | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Divider -->
                <div class="col-lg-1 d-none d-lg-flex align-items-center justify-content-center">
                    <div class="divider"></div>
                </div>

                <!-- Right side (Cart Summary) -->
                <div class="col-lg-5 col-md-12">
                    <h5 class="text-center">Cart Total</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="total-label">Subtotal:</td>
                                <td>{{getCartTotal() | currency}}</td>
                            </tr>
                            <tr>
                                <td class="total-label">Shipping:</td>
                                <td>
                                    <div class="shipping-options">
                                        <div class="checkbox-label">
                                            <input type="checkbox" id="freeShipping">
                                            <label for="freeShipping">Free Shipping</label>
                                        </div>
                                        <div class="checkbox-label">
                                            <input type="checkbox" id="flatRate">
                                            <label for="flatRate">Flat Rate</label>
                                        </div>
                                        <div class="checkbox-label">
                                            <input type="checkbox" id="pickup">
                                            <label for="pickup">Pickup</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="total-label">Total:</td>
                                <td>{{getCartTotal() | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary" (click)="goToPayment(); openSpinner1()">Proceed to
                            Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>