<div class="container cont">
  <h1 class="text-center">Users</h1>

  <div class="table-responsive">
    <table class="table table-bordered custom-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>First_name</th>
          <th>Last_name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="mt-4">{{ user.first_name }}</td>
          <td class="mt-4">{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a [href]="'mailto:' + user.email" class="btn btn-cont me-2">Contact</a>
            <button class="btn btn-del" (click)="deleteUser(user.first_name)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>