<div id="privacy-policy" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-4 mb-5">
                <div class="section-title">
                    <h1 id="about-us" class="display-4 fw-semibold text-center">P R I V A C Y P O L I C Y</h1>
                    <div class="line"></div>
                </div>
                <p>Welcome to Herfa! We are committed to protecting your privacy. This Privacy
                    Policy outlines how we collect, use, and safeguard your personal information when you use our
                    website.</p>
            </div>
        </div>

        <div class="row justify-content-center align-items-start">
            <div class="col-lg-6 text-center mb-4">
                <h2>Information We Collect</h2>
                <p>We collect personal information like name, email, mailing address, payment details, IP address, and
                    browser type when you shop or interact with our site.</p>
            </div>
            <div class="col-lg-6 text-center mb-4">
                <h2>Purpose of Data Collection</h2>
                <p>We use your personal information to process your orders, improve your shopping experience,
                    communicate with you, and send updates if opted in.</p>
            </div>
        </div>

        <div class="row justify-content-center align-items-start">
            <div class="col-lg-6 text-center mb-4">
                <h2>Data Retention</h2>
                <p>We retain your personal data only as long as necessary or as required by law.</p>
            </div>
            <div class="col-lg-6 text-center mb-4">
                <h2>Consent</h2>
                <p>By providing your information, you consent to its collection and use. You can withdraw consent
                    anytime by contacting us at herfa&#64;gmail.com.</p>
            </div>
        </div>

        <div class="row justify-content-center align-items-start">
            <div class="col-lg-6 text-center mb-4">
                <h2>Disclosure of Information</h2>
                <p>We may disclose your information if required by law or if you violate our terms of service.</p>
            </div>
            <div class="col-lg-6 text-center mb-4">
                <h2>Data Security</h2>
                <p>We implement security measures to protect your data. Payment information is encrypted using secure
                    technologies.</p>
            </div>
        </div>

        <div class="row justify-content-center align-items-start">
            <div class="col-lg-6 text-center mb-4">
                <h2>Cookies</h2>
                <p>We use cookies to enhance your experience. You can manage cookie preferences through your browser
                    settings.</p>
            </div>
            <div class="col-lg-6 text-center mb-4">
                <h2>Your Rights</h2>
                <p>You have the right to access, correct, or delete your data. Contact us at herfa&#64;gmail.com to
                    exercise these rights.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="mb-4">Contact Us</h2>
                <form class="row g-3 p-lg-5 p-4 bg-white theme-shadow rounded-3">
                    <div class="form-group col-lg-6 rounded-3">
                        <input type="text" class="form-control rounded-3" placeholder="Enter first name" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control rounded-3" placeholder="Enter last name" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="email" class="form-control rounded-3" placeholder="Enter email address" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control rounded-3" placeholder="Enter message" required>
                    </div>
                    <div class="form-group col-lg-12">
                        <textarea class="form-control rounded-3" placeholder="Enter subject" cols="30" rows="4"
                            required></textarea>
                    </div>
                    <div class="form-group col-lg-6">
                        <button type="submit" class="btn btn-brand rounded-3">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>