.navbar {
    padding: .5rem 2rem;
    background: var(--color-gradient);
    box-shadow: 0 0 30px rgb(0 0 0 / 50%)
}

.logo {
    height: 30px;
    width: auto
}

.nav-link {
    color: #66483b !important;
    transition: .3s
}

.nav-link:hover {
    color: #000 !important
}

.img-logo-navbar {
    border-radius: 50%;
    width: 6vh;
    height: 6vh
}

.icont,
.icont:hover {
    background-color: #66483b !important;
    border: none
}

.fa-solid.fa-bars {
    color: #000;
    font-size: 25px
}

.icont {
    color: #eee2dc !important;
    transition: .3s
}

.icont:hover {
    color: #d4a95a !important
}