<div class="imgis">

    <div class="container">
        <div class="row py-5 px-4">

            <div class="col-md-12 mb-3 col-lg-12 mx-auto">

                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <div class="d-flex justify-content-end text-center pt-3">
                            <a routerLink="/edit-profile" class="btn me-4 btn-sm p-2">Edit profile</a>
                            <a routerLink="/" class="icon-home text-center ho"><i class="fa-solid fa-house"></i></a>
                        </div>
                        <div class="d-flex align-items-end profile-head">
                            <div class="profile me-3">
                                <img src="https://img.freepik.com/free-photo/woman-posing-park-winter_23-2148820447.jpg"
                                    alt="..." width="230" class="rounded-4 mb-2 img-thumbnail">
                            </div>
                            <div class="media-body mb-5 text-dark">
                                <h4 class="mt-0 mb-0">Sarah Williams</h4>
                                <p class="small fw-bold mb-4"> <i class="fas fa-map-marker-alt me-2 "></i>Cairo Egyp</p>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 mt-5">
                        <h5 class="mb-0">About</h5>
                        <div class="p-4 rounded shadow-sm bg-light">
                            <p class="font-italic mb-0">Hello, I'm Sarah Williams, a passionate artisan dedicated to
                                creating
                                high-quality handmade crafts. Whether it's intricate
                                threadwork or detailed drawings, each piece is crafted with care and precision. I use
                                only the finest materials to
                                ensure that every creation not only looks beautiful but is also durable and functional.
                                If you're looking for unique,
                                artisanal products, feel free to contact me for more information or to learn more about
                                my work. I would love to share
                                my passion for craftsmanship with yo
                            </p>
                        </div>
                    </div>
                    <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Recent photos</h5>
                            <a href="#" class="btn btn-link text-muted">Show all</a>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="card p-0">
                                    <div class="card-image">
                                        <img src="https://img.freepik.com/premium-photo/clothes-drying-table-against-wall-home_1048944-24789779.jpg"
                                            alt="">
                                    </div>
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <h4 class="pt-2">SomeOne Famous</h4>
                                        <h5>Creative Desinger</h5>
                                        <a href="#" class="btn btn-link text-dark text-decoration-none mt-2">Show
                                            Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="card p-0">
                                    <div class="card-image">
                                        <img src="https://img.freepik.com/free-phohttps://img.freepik.com/premium-photo/macrame-decoration-interior_154092-5636.jpg"
                                            alt="">
                                    </div>
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <h4 class="pt-2">SomeOne Famous</h4>
                                        <h5>Creative Desinger</h5>
                                        <a href="#" class="btn btn-link text-dark text-decoration-none mt-2">Show
                                            Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="card p-0">
                                    <div class="card-image">
                                        <img src="https://img.freepik.com/free-photo/2022-christmas-wall-calendar_23-2149758803.jpg"
                                            alt="">
                                    </div>
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <h4 class="pt-2">SomeOne Famous</h4>
                                        <h5>Creative Desinger</h5>
                                        <a href="#" class="btn btn-link text-dark text-decoration-none mt-2">Show
                                            Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                                <div class="card p-0">
                                    <div class="card-image">
                                        <img src="https://img.freepik.com/free-photo/traditional-macrame-arrangement-indoors_23-2149072831.jpg"
                                            alt="">
                                    </div>
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <h4 class="pt-2">SomeOne Famous</h4>
                                        <h5>Creative Desinger</h5>
                                        <a href="#" class="btn btn-link text-dark text-decoration-none mt-2">Show Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                                <div class="card p-0">
                                    <div class="card-image">
                                        <img src="https://img.freepik.com/free-photo/arrangement-macrame-handmade-object_23-2149064435.jpg"
                                            alt="">
                                    </div>
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <h4 class="pt-2">SomeOne Famous</h4>
                                        <h5>Creative Desinger</h5>
                                        <a href="#" class="btn btn-link text-dark text-decoration-none mt-2">Show
                                            Details</a>


                                        <!-- <ul class="social-icons d-flex justify-content-center">
                                            <li style="--i:1">
                                                <a href="#">
                                                    <span class="fab fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li style="--i:2">
                                                <a href="#">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li style="--i:3">
                                                <a href="#">
                                                    <span class="fab fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                                <div class="card p-0">
                                    <div class="card-image">
                                        <img src="https://img.freepik.com/premium-photo/painting-flowers-hanging-string-with-picture-flowers-it_1087688-1084.jpg"
                                            alt="">
                                    </div>
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <h4 class="pt-2">SomeOne Famous</h4>
                                        <h5>Creative Desinger</h5>
                                        <a href="#" class="btn btn-link text-dark text-decoration-none mt-2">Show
                                            Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>