.container,
.row {
    margin: 0 auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.col-md-10 {
    position: relative
}

.z-depth-3 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.bg-info {
    background: var(--color-gradient) !important
}

.rounded-left {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.card-block {
    padding: 1.25rem
}

.text-center {
    text-align: center !important
}

.text-white {
    color: #ac8968 !important
}

.fas {
    font-size: 1.75rem;
    line-height: 4rem;
    vertical-align: middle
}

.fa-7x {
    font-size: 7rem
}

.bg-white {
    background-color: #fff !important
}

.rounded-right {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important
}

.badge-primary {
    color: #fff;
    background-color: #337ab7
}

.font-weight-bold {
    font-weight: 700 !important
}

.text-muted {
    color: #868e96 !important
}

.bg-primary {
    background-color: #337ab7 !important
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.d-flex {
    display: flex !important
}

.justify-content-center {
    justify-content: center !important
}

.mt-4 {
    margin-top: 1.5rem !important
}

.pe-3 {
    padding-right: .75rem !important
}

.fa-2x {
    font-size: 2rem
}

.icon-home,
.social-icon {
    color: var(--pymant-color);
    transition: color .2s
}

.icon-home:hover,
.social-icon:hover {
    color: #23527c
}

@media (min-width:992px) {
    .col-md-10 {
        width: 100%
    }
}

@media (min-width:768px) {
    .col-sm-4 {
        width: 33.33%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-8 {
        width: 66.67%
    }
}

@media (min-width:576px) {

    .col-sm-4,
    .col-sm-8 {
        width: 100%
    }

    .col-sm-6 {
        width: 50%
    }
}

@media (max-width:575px) {

    .col-sm-4,
    .col-sm-6,
    .col-sm-8 {
        width: 100%
    }

    .card-block {
        padding: .75rem
    }

    .fas {
        font-size: 1.25rem
    }

    .fa-7x {
        font-size: 5rem
    }

    .fa-2x {
        font-size: 1.5rem
    }
}