<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<body class="bod" data-bs-spy="scroll" data-bs-target=".navbar">
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center bg-white">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-12">
                    <h1 data-aos="fade-left" class="text-uppercase text-dark fw-semibold display-1">Welcome to my
                        website</h1>
                    <h5 class="text-dark mt-3 mb-4" data-aos="fade-right">WE ARE TEAM OF TALENTED DESIGNERS MAING
                        WEBSITES WITH BOOTSTRAP</h5>
                    <button class="btn btn-brand me-2 btn-start" data-aos="fade-up">Get Started</button>
                    <button class="btn btn-light ms-2 btn-start" data-aos="fade-up">Our Products</button>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section id="about" class="section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="70">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">
                            About Us
                        </h1>
                        <div class="line"></div>
                        <p>we love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                            crazy skills</p>
                    </div>
                </div>
            </div>
            <!-- justify-content-between -->
            <div class="row  align-items-center" data-aos="fade-down" data-aos-delay="150">
                <div class="col-lg-6">
                    <img src="https://img.freepik.com/free-photo/close-up-person-working-dreamcatcher_23-2149281467.jpg"
                        alt="">
                </div>
                <div class="col-lg-5">
                    <h1>About elixer</h1>
                    <p class="mt-3 mb-4">we are a team of talented designers and developers who are passionate about
                        creating digital
                        experiences
                        that inspire and delight. We believe in the power of design to transform businesses and lives,
                        and
                        we're dedicated to helping our clients achieve their goals through innovative and effective
                        solutions.</p>
                    <div class="d-flex pt-4 mb-3">
                        <div class="iconbox me-4">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="">
                            <h5>We are Awsome</h5>
                            <p>we are a team of talented designers and developers who are passionate about creating
                                digital</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="iconbox me-4">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="">
                            <h5>We are Awsome</h5>
                            <p>we are a team of talented designers and developers who are passionate about creating
                                digital</p>
                        </div>
                    </div>
                    <div class="d-flex ">
                        <div class="iconbox me-4">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="">
                            <h5>We are Awsome</h5>
                            <p>we are a team of talented designers and developers who are passionate about creating
                                digital</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- services -->
    <section id="services" class="section-padding border-top bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">
                            Awsome services
                        </h1>
                        <div class="line"></div>
                        <p>we love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                            crazy skills</p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-6 mt-4" data-aos="fade-down" data-aos-delay="150">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <div class="iconbox">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Ux design</h5>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quis amet fuga ab cumque
                            aspernatur minus perspiciatis, magni exercitationem delectus nostrum voluptatum repellendus
                            dicta nulla, laborum eveniet quaerat alias obcaecati?</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-4" data-aos="fade-down" data-aos-delay="250">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <div class="iconbox">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Ux design</h5>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quis amet fuga ab cumque
                            aspernatur minus perspiciatis, magni exercitationem delectus nostrum voluptatum repellendus
                            dicta nulla, laborum eveniet quaerat alias obcaecati?</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-4" data-aos="fade-down" data-aos-delay="350">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <div class="iconbox">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Ux design</h5>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quis amet fuga ab cumque
                            aspernatur minus perspiciatis, magni exercitationem delectus nostrum voluptatum repellendus
                            dicta nulla, laborum eveniet quaerat alias obcaecati?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- counter -->
    <div class="section section-padding " id="counter">
        <div class="container">
            <div class="row g-4 text-center pt-5">
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="150">
                    <h1 class="text-white display-4">90,000+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Downloads</h6>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="250">
                    <h1 class="text-white display-4">90,000+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Downloads</h6>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="350">
                    <h1 class="text-white display-4">90,000+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Downloads</h6>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="450">
                    <h1 class="text-white display-4">90,000+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Downloads</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- prortfolio -->
    <section id="protfolio" class="section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">
                            Our Protfolio
                        </h1>
                        <div class="line"></div>
                        <p>we love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                            crazy skills</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                    <div class="protfolio-item image-zoom">
                        <div class="image-zoom-warpper">
                            <img class="rounded-3" src="./imges/da-d.jpg" alt="image1">
                        </div>
                        <a href="" class="iconbox btn btn-brand rounded-3">Show</a>
                    </div>

                    <div class="protfolio-item image-zoom mt-3">
                        <div class="image-zoom-warpper">
                            <img class="rounded-3"
                                src="https://img.freepik.com/free-photo/traditional-macrame-composition-indoors_23-2149072853.jpg"
                                alt="image1">
                        </div>
                        <a href="" class="iconbox btn btn-brand rounded-3">Show</a>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
                    <div class="protfolio-item image-zoom mb-3">
                        <div class="image-zoom-warpper">
                            <img class="rounded-3"
                                src="https://img.freepik.com/free-photo/traditional-macrame-composition-indoors_23-2149072853.jpg"
                                alt="image1">
                        </div>
                        <a href="" class="iconbox btn btn-brand rounded-3">Show</a>
                    </div>
                    <div class="protfolio-item image-zoom">
                        <div class="image-zoom-warpper">
                            <img class="rounded-3"
                                src="https://img.freepik.com/premium-photo/person-holding-string-bag_824507-4011.jpg"
                                alt="image1">
                        </div>
                        <a href="" class="iconbox btn btn-brand rounded-3">Show</a>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
                    <div class="protfolio-item image-zoom">
                        <div class="image-zoom-warpper">
                            <img class="rounded-3"
                                src="https://img.freepik.com/premium-photo/person-holding-string-bag_824507-4011.jpg"
                                alt="image1">
                        </div>
                        <a href="" class="iconbox btn btn-brand rounded-3">Show</a>
                    </div>
                    <div class="protfolio-item image-zoom mt-3">
                        <div class="image-zoom-warpper">
                            <img class="rounded-3"
                                src="https://img.freepik.com/free-photo/traditional-macrame-composition-indoors_23-2149072853.jpg"
                                alt="image1">
                        </div>
                        <a href="" class="iconbox btn btn-brand rounded-3">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Review -->
    <section id="review" class="section-padding bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">
                            Our Protfolio
                        </h1>
                        <div class="line"></div>
                        <p>we love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                            crazy skills</p>
                    </div>
                </div>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 co-sm-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="reviw">
                        <div class="reviw-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore velit accusamus
                                mollitia
                                exercitationem ab odio rerum harum consequatur doloremque corrupti ducimus ipsa animi
                                officiis minus, quo itaque officia sit commodi.</p>
                        </div>
                    </div>
                    <div class="review-person mt-4 d-flex align-items-center">
                        <img class="rounded-circle w-25 h-25"
                            src="https://img.freepik.com/free-photo/artist-white_1368-3543.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="text-start">John Doe</h5>
                            <small>Ux Architect</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 co-sm-6" data-aos="fade-down" data-aos-delay="250">
                    <div class="reviw">
                        <div class="reviw-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore velit accusamus
                                mollitia
                                exercitationem ab odio rerum harum consequatur doloremque corrupti ducimus ipsa animi
                                officiis minus, quo itaque officia sit commodi.</p>
                        </div>
                    </div>
                    <div class="review-person mt-4 d-flex align-items-center">
                        <img class="rounded-circle w-25 h-25"
                            src="https://img.freepik.com/free-photo/artist-white_1368-3543.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="text-start">John Doe</h5>
                            <small>Ux Architect</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 co-sm-6" data-aos="fade-down" data-aos-delay="350">
                    <div class="reviw">
                        <div class="reviw-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore velit accusamus
                                mollitia
                                exercitationem ab odio rerum harum consequatur doloremque corrupti ducimus ipsa animi
                                officiis minus, quo itaque officia sit commodi.</p>
                        </div>
                    </div>
                    <div class="review-person mt-4 d-flex align-items-center">
                        <img class="rounded-circle w-25 h-25"
                            src="https://img.freepik.com/free-photo/artist-white_1368-3543.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="text-start">John Doe</h5>
                            <small>Ux Architect</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact -->
    <section class="section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h1 class="display-4 text-white fw-semibold">
                            Team Members
                        </h1>
                        <div class="line bg-white"></div>
                        <p>we love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                            crazy skills</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="" class="row g-3  p-lg-5 p-4 bg-white theme-shadow rounded-3">
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter first name" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter last name" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="email" name="" class="form-control" placeholder="Enter email address" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter subject" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter subject" id="">
                        </div>
                        <div class="form-group col-lg-12">

                            <textarea name="" class="form-control" placeholder="Enter message" id="" cols="30"
                                rows="4"></textarea>
                        </div>
                        <div class="form-group col-lg-6">
                            <button class="btn btn-brand">send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- scrol -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>