body {
    font-family: var(--font-base);
    line-height: 1.7;
    background-image: url("https://img.freepik.com/free-photo/front-view-smiley-woman-working-with-flowers_23-2149591603.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #eee;
    background-size: cover;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
    transition: .5s;
    border-radius: 20px;
}

a:hover {
    background-color: #d4b272;
    transition: .5s;
    color: black;
}

img {
    max-width: 100% !important;
    height: auto;
}

.section-padding {
    padding-top: 140;
    padding-bottom: 140px;

}

.theme-shadow {
    box-shadow: var(--box-shadow)
}

/* img zoom */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.btn-all{
    margin-left: 13%;
}

.btn-end{
    margin-right: 13%;
}

.btn-get-start {
    background-color: #d4b272;
    color: white;
    padding: 10px 24px;
    transition: .4s !important;
}

.text1 h1,
.text1 h5{
    color: #2f2617;
}
.text2 h1,
.text2 h5{
    color: #d7af63;
}

.btn-get-start:hover {
    background-color: #e6d2af;
    color: black;
}


.btn-get-Products {
    background-color: #ebdfcb;
    color: black;
    transition: .4s !important;
    padding: 10px 24px;
}

.btn-get-Products:hover {
    background-color: #d4b272;
    color: white;
}



.image-zoom-warpper {
    overflow: hidden;
    position: relative;
}

.image-zoom-warpper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-warpper img {
    transform: scale(1.1);
}

.btn {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
    transition: .4s;
}

.btn-brand {
    background-color: #d4b272;
    border-radius: 20px;
    color: white;
    transition: .4s;
}

.btn-brand:hover {
    background-color: #ecd2a2;
    color: black;
}


#hero {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4)), url("https://img.freepik.com/premium-photo/punch-needle-workshop-needlework-young-girl-with-red-painted-nails-knitting_223582-2157.jpg");
    // no-repeat center center
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hero2 {
    background: linear-gradient(rgba(255, 255, 255, 0.356), rgba(0, 0, 0, 0.781)), url("https://img.freepik.com/premium-photo/woman-makes-handmade-diy-lamp-from-jute-rope-home-top-view_266247-3244.jpg");
    // no-repeat center center
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
 
}

#hero3 {
    background: linear-gradient(rgba(255, 255, 255, 0.199), rgba(0, 0, 0, 0.541)), url("https://img.freepik.com/premium-photo/hands-holding-dried-grass-herbs-leaves-ribbon-scissors-rustic-table-making-stylish-autumn-wreath-fall-decor-arrangement-home-thanksgiving-halloween_250813-32445.jpg");
    // no-repeat center center
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}



/* secton title */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 100px;
    height: 4px;
    background-color: #d4a95a;
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox {
    width: 200px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb) 0.1);
    color: #d4a95a;
    ;
    font-size: 34px;
    flex: none;

}

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    background: var(--color-gradient);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: rgba(0, 0, 0, 0.712) !important;
}

.service:hover .iconbox {
    color: black;
}

/* counter */
#counter {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}


/*  portfolio */

.protfolio-item .iconbox {
    background-color: #d4a95a;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .4s;
}

.protfolio-item:hover .iconbox {
    opacity: 3;
    top: 50%;
}

.protfolio-item .iconbox:hover {
    background-color: #e2c286;
    color: black;
}

/* revew */
.reviw-head {
    position: relative;
}

.reviw-head::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: -14;
    background-color: white;
    transform: rotate(45deg);
}

/*  teem */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: 24px;
    left: 175px;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;

}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* contact */
#contact {
    position: relative;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

#contact::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8));
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#contact .form-control:focus {
    border: none;
    border-color: var(--c-brand);
}


.img-dad {
    width: 90px !important;
}

.img-dad2 {
    width: 90px !important;
    // height: 70px;
}
.star-rating {
    display: inline-block;
    direction: rtl;
    font-size: 2rem;
    position: relative;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label {
    color: lightgray;
    cursor: pointer;
    padding: 0 5px;
    transition: .4s;
  }
  
  .star-rating input:checked ~ label {
    color: gold;
    transition: .4s;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: gold;
    transition: .4s;
  }
  