<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<body class="bod" data-bs-spy="scroll" data-bs-target=".navbar">
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center bg-white">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-12">
                    <h1 data-aos="fade-left" class="text-uppercase text-dark fw-semibold display-1">Welcome to
                        Handicraft</h1>
                    <h5 class="text-dark mt-3 mb-4" data-aos="fade-right">We offer a unique collection of handcrafted
                        artwork, beautifully decorated pottery, and exquisite handicrafts made from
                        palm fronds, leaves, and dried flowers, and string</h5>
                    <a class="btn me-2 btn-start btn-get-start rounded-3" href="#services" data-aos="fade-up">Get
                        Started</a>
                    <a class="btn  ms-2 btn-start btn-get-Products rounded-3" routerLink="/products" data-aos="fade-up">Our Products</a>
                </div>
            </div>
        </div>
    </section>


    <!-- services -->
    <section id="services" class="section-padding border-top bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">
                            Awsome services
                        </h1>
                        <div class="line"></div>
                        <p>Discover unique, handcrafted souvenirs that capture the essence of your travels, each piece
                            telling a story and crafted with love to bring a touch of artistry into your home.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-6 mt-4" data-aos="fade-down" data-aos-delay="150">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <div class="iconbox">
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Global Warehouse</h5>
                        <p>Explore our exquisite collection of handcrafted wooden souvenirs, meticulously designed to
                            showcase the beauty of nature and skilled craftsmanship, perfect for adding a warm, rustic
                            touch to your home or as memorable gifts</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-4" data-aos="fade-down" data-aos-delay="250">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <div class="iconbox">
                            <i class="fa-solid fa-medal"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Quality and Saving
                        </h5>
                        <p>Handcrafted Excellence:
                            Every piece in our collection is meticulously handcrafted by skilled artisans 
                            We prioritize using the finest materials to guarantee that you receive products
                            that are not only beautiful
                            but also durable.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-4" data-aos="fade-down" data-aos-delay="350">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <div class="iconbox">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Handicrafts using knitting threads
                        </h5>
                        <p>Delve into our charming assortment of handcrafted items made with knitting threads,
                            showcasing intricate designs and cozy textures that bring warmth and character to your
                            space, ideal for gifts or personal treasures.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- counter -->
    <div class="section section-padding " id="counter">
        <div class="container">
            <div class="row g-4 text-center pt-5">
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="150">
                    <h1 class="text-white display-4">100+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Downloads</h6>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="250">
                    <h1 class="text-white display-4">30+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Users</h6>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="350">
                    <h1 class="text-white display-4">240+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Share</h6>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5" data-aos="fade-down" data-aos-delay="450">
                    <h1 class="text-white display-4">500+</h1>
                    <h6 class="text-uppercase mb-0 text-white mt-3">Total Visits</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- prortfolio -->
    <section id="protfolio" class="section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">
                            Our Product
                        </h1>
                        <div class="line"></div>
                        <p>Our portfolio showcases a diverse range of handcrafted creations,
                            blending traditional artistry with modern flair. From intricately woven
                            textiles to skillfully carved wooden pieces, each item reflects our passion for
                            craftsmanship.
                            Whether it's pottery that tells a story, knitted treasures full of warmth, or bespoke
                            souvenirs,
                            our collection is a testament to the beauty of handmade art. Every piece in our portfolio is
                            thoughtfully
                            designed to inspire, delight, and leave a lasting impression</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let product of filteredProducts" data-aos="fade-down"
                    data-aos-delay="150">
                    <div class="protfolio-item image-zoom">
                        <div class="image-zoom-warpper">
                            <img class="rounded-3 p-2" [src]="product.image" [alt]="product.name">
                        </div>
                        <a href="" class="iconbox btn btn-brand rounded-3" id="viewDetails"
                            (click)="goToProductDetails(product.id)">Show</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Review -->
    <section id="review" class="section-padding bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">
                            Customer Review for the Handmade Crafts Website
                        </h1>
                        <div class="line"></div>
                        <p>Our portfolio highlights a range of distinguished reviews that praise the quality and
                            craftsmanship of our handmade products, with our pieces becoming unique gifts and lasting
                            memories in our customers homes.”</p>
                    </div>
                </div>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 co-sm-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="reviw">
                        <div class="reviw-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>"Every piece I ordered was stunning! The craftsmanship is top-notch, and I can tell a lot
                                of love went into making them.
                                Customer service was also very responsive and helpful. I can't wait to buy more!"</p>
                        </div>
                    </div>
                    <div class="review-person mt-4 d-flex align-items-center">
                        <img class="rounded-circle w-25 h-25"
                            src="https://img.freepik.com/free-photo/artist-white_1368-3543.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="text-start"> Ali Hassan</h5>
                            <small>Interior Designer</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 co-sm-6" data-aos="fade-down" data-aos-delay="250">
                    <div class="reviw">
                        <div class="reviw-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>"I am absolutely thrilled with my recent purchase! The handmade items are not only
                                beautiful but also incredibly
                                well-crafted. The attention to detail is impressive, and they arrived quickly. I will
                                definitely recommend this site to
                                my friends!"</p>
                        </div>
                    </div>
                    <div class="review-person mt-4 d-flex align-items-center">
                        <img class="rounded-circle img-dad h-25"
                            src="https://img.freepik.com/free-photo/front-view-beautiful-woman-floral-dress_23-2148357672.jpg"
                            alt="">
                        <div class="ms-3">
                            <h5 class="text-start">Sarah Ahmed</h5>
                            <small>Marketing Specialist</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 co-sm-6" data-aos="fade-down" data-aos-delay="350">
                    <div class="reviw">
                        <div class="reviw-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>"The variety of handmade crafts available is fantastic! I found exactly what I was
                                looking for, and the quality exceeded
                                my expectations. However, I wish the shipping options were a bit more flexible. Overall,
                                a great experience!"</p>
                        </div>
                    </div>
                    <div class="review-person mt-4 d-flex align-items-center">
                        <img class="rounded-circle img-dad2  "
                            src="https://img.freepik.com/free-psd/close-up-kid-expression-portrait_23-2150193157.jpg"
                            alt="">
                        <div class="ms-3">
                            <h5 class="text-start">Mahmoud Abdrahman</h5>
                            <small> Entrepreneur</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact -->
    <section class="section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h1 class="display-4 text-white fw-semibold">
                            Team Members
                        </h1>
                        <div class="line bg-white"></div>
                        <p>we love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                            crazy skills</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="" class="row g-3  p-lg-5 p-4 bg-white theme-shadow rounded-3">
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter first name" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter last name" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="email" name="" class="form-control" placeholder="Enter email address" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter subject" id="">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" name="" class="form-control" placeholder="Enter subject" id="">
                        </div>
                        <div class="form-group col-lg-12">

                            <textarea name="" class="form-control" placeholder="Enter message" id="" cols="30"
                                rows="4"></textarea>
                        </div>
                        <div class="form-group col-lg-6">
                            <button class="btn btn-brand">send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- scrol -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>