<div class=" container">
  <div class="container text-center my-5">
    <h1>Edit Product</h1>
  </div>

  <div class="container col-md-7">
    <div class="row">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="d-flex justify-content-evenly">
              <button type="button" class="btn btn-primary btn-sm">Edit</button>
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>

          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>

</div>
