<div class="cont container">
  <div class="container text-center my-5">
    <h1>Edit Product</h1>
  </div>

  <div class="container col-md-7">
    <div class="row">
      <div class="table-wrapper">
        <table class="table custom-table table-hover">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Product A</td>
              <td>$20.00</td>
              <td>5</td>
              <td class="d-flex justify-content-evenly">
                <button type="button" class="btn btn-custom-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-custom-danger btn-sm">Delete</button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>