.cont {
  background: #ebca96; 
  position: relative;
  top: 100px;
  height: 70%;
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}


h1 {
  margin-top: 50px;
  color: black; 
}


.custom-table {
  width: 100%;
  border-collapse: collapse; 
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


th {
  background: #f5e1c1; 
  padding: 10px;
  color: black; 
  font-size: 20px;

}
td{
  color: black;
}
.b{
  border: 2px;
}

img{
  width: 200px;
  height: 200px;
}
 
.btn{
  width: 150px !important;

}
h2{
  color: #000;
}
label{
  color: #000;
}









.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}
