<!-- ABOUT -->
<section id="about" class="section-padding bg-white mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h1 id="abutus" class="display-4 fw-semibold">
                        About Us
                    </h1>
                    <div class="line"></div>
                </div>
                <p>Today, thousands of customers turn to Craftopia to explore a curated selection of unique handmade
                    crafts, including
                    artisanal decor, personalized gifts, and eco-friendly products.

                    Craftopia is consistently recognized as one of the top online destinations for handmade items,
                    regularly earning high
                    ratings for customer satisfaction and exceptional service.

                    Based in the heart of [Your Location], Craftopia proudly serves a global audience across Europe,
                    North America, Asia,
                    and the Middle East, bringing the charm of artisanal craftsmanship to homes around the world.
                </p>
            </div>
        </div>

        <!-- justify-content-between -->
        <div class="row  align-items-center">
            <div class="col-lg-6">
                <img class="w-100"
                    src="https://img.freepik.com/free-phohttps://img.freepik.com/premium-photo/macrame-decoration-interior_154092-5636.jpg"
                    alt="">
            </div>
            <div class="col-lg-5">
                <h1>About</h1>
                <p class="mt-3 mb-4">In our workshop, we combine the beauty of nature with the charm of handcrafted art
                    to create unique designs that reflect
                    meticulous craftsmanship and creativity. We specialize in crafting artistic wall hangings and
                    handmade decor, carefully
                    using natural materials such as wood, thread, and other organic elements. Each piece we create is
                    not merely a
                    decoration, but a story that speaks of creativity and balance between tradition and modern elegance.
                </p>
                <div class="pt-4 mb-3">
                    <div class="iconbox me-4">
                        <i class="fa-brands fa-pagelines"></i>
                    </div>
                    <div class="">
                        <h5>Handcrafted Art with a Modern Touch</h5>
                        <p>At our studio, we are passionate about the beauty of nature and craftsmanship. Our
                            handcrafted wall hangings and decor
                            pieces are thoughtfully designed using natural elements such as wood, twine, and other
                            organic
                            materials. Each piece
                            tells a story of creativity and harmony, merging traditional techniques with modern
                            aesthetics.</p>
                    </div>
                </div>
                <div class=" mb-3">
                    <div class="iconbox me-4">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="">
                        <h5>Bringing Nature's Simplicity and Warmth into Your Home</h5>
                        <p>Our designs, like the one you see here, embrace the simplicity and warmth of natural
                            materials. We specialize in
                            creating unique, eco-friendly art that brings a touch of nature into your home, whether it's
                            through delicately woven
                            threads, hand-sculpted wood, or beautifully arranged organic element</p>
                    </div>
                </div>
                <div class=" ">
                    <div class="iconbox me-4">
                        <i class="fa-solid fa-hand-holding-heart"></i>
                    </div>
                    <div class="">
                        <h5>Celebrating the Art of Handmade Creations</h5>
                        <p>Every item is crafted with care and attention to detail, ensuring that each piece is not only
                            a decorative item but also
                            a reflection of our deep appreciation for the art of handmade creations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>