
/* secton title */
.section-title {
    margin-bottom: 60px;


}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox {
    width: 200px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb) 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;

}

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    background: var(--color-gradient);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: rgba(0, 0, 0, 0.712) !important;
}

.service:hover .iconbox {
    color: black;
}
