.imd {
    width: 80px;
    margin-right: 10px
}

.logo {
    width: 19vh;
    height: 4vh;
    // font-size: 20px;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: color-burn;
}



.footer {
    background: var(--color-gradient);
}

.footer .copyright>span {
    color: var(--green-color)
}

.footer .fa-facebook {
    background-color: #1877f2;
    transition: .2s
}

.footer .fa-facebook:hover {
    background-color: #1565ce
}

.footer .fa-instagram {
    background-color: #fd1d1d;
    transition: .2s
}

.footer .fa-instagram:hover {
    background-color: #e1306c
}

.footer .fa-youtube {
    background-color: red;
    transition: .2s
}

.footer .fa-youtube:hover {
    background-color: #c00
}

.footer .fa-x-twitter {
    background-color: #000;
    transition: .2s
}

.footer .fa-x-twitter:hover {
    background-color: #252525
}

.btn-foter,
.btn-foter:hover {
    background-color: #66483b !important;
    border: none
}

.btn-foter {
    color: #eee2dc !important
}

.btn-foter:hover {
    color: #d4a95a !important
}

.link a {
    position: relative;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
    color: #726346 !important
}

.link a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #796237;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s
}

.link a:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}

.text-col {
    color: #634f2a !important
}