<div class="footer pt-5 pb-3 text-dark-75 text-center text-md-start" *ngIf="showFooter">
    <div class="container">
        <div class="row">
            <!-- Logo and Info Section -->
            <div class="col-md-6 col-lg-4">
                <div class="info mb-5 text-col">
                    <a class="navbar-brand" href="/">
                        <img src="./assests/logo-no-background.svg" alt="Logo" class="logo mb-3">
                    </a>
                    <p class="mb-5">
                        Sell your handcrafted products and join our community of creators and buyers.
                    </p>
                    <div>&copy; 2024 Handmade Crafts Platform - All Rights Reserved</div>
                </div>
            </div>

            <!-- Quick Links Section -->
            <div class="col-md-6 col-lg-2">
                <div class="links">
                    <h5 class="text-col">Quick Links</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="link"><a routerLink ="">Home</a></li>
                        <li class="link"><a routerLink="">Our Services</a></li>
                        <li class="link"><a routerLink="">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>

            <!-- Resources Section -->
            <div class="col-md-6 col-lg-2">
                <div class="links">
                    <h5 class="text-col">Resources</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="link"><a routerLink="">How It Works</a></li>
                        
                    </ul>
                </div>
            </div>

            <!-- Contact Us Section -->
            <div class="col-md-6 col-lg-4 text-col">
                <div class="contact">
                    <h5>Contact Us</h5>
                    <p class="lh-lg mt-3 mb-5">
                        Have questions? Get in touch with us to learn more about how you can start selling your handmade products today!
                    </p>
                    <ul class="d-flex mt-5 list-unstyled gap-4">
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" routerLink="#">
                                <i class="fa-brands fa-youtube rounded-circle p-3"></i>
                            </a>
                        </li>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" routerLink="#">
                                <i class="fa-brands fa-facebook rounded-circle p-3"></i>
                            </a>
                        </li>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" routerLink="#">
                                <i class="fa-brands fa-instagram rounded-circle p-3"></i>
                            </a>
                        </li>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" routerLink="#">
                                <i class="fa-brands fa-x-twitter rounded-circle p-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
