<!-- <app-sgin-in-sign-up></app-sgin-in-sign-up> -->

<!-- <app-login></app-login> -->
<!-- <app-dash-home></app-dash-home>  -->
<!-- <app-about-us></app-about-us> -->

<!-- <app-privacy-policy></app-privacy-policy> -->

<app-header></app-header>
<app-dash-home></app-dash-home>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-product-details></app-product-details> -->

<!-- <app-payment></app-payment> -->
<!-- <app-users></app-users> -->
<!-- <app-edit-profile></app-edit-profile> -->

<!-- <app-pottery></app-pottery> -->
<!-- <app-payment></app-payment> -->
<!-- <app-users></app-users> -->
<!-- <app-products></app-products> -->