<div class="container-fluid">

    <div class="section">
        <div class="search-bar mb-3">
            <div class="container">

                <input id="search-input" type="text" [(ngModel)]="searchTerm" (input)="searchProducts()"
                    class="form-control form-control-lg" placeholder="Search for products..." />
                <div class="icon-cart">
                    <a (click)="goToCart(); openSpinner1()">
                        <i class="fa-solid fa-cart-shopping fa-2xl icon-shop"></i>
                        <span id="counter">{{cartCount}}</span>
                    </a>
                </div>
            </div>
        </div>

        <button (click)="toggleFilter()" class="btn btn-lg mt-3 filtering">
            Filter
        </button>

        <div *ngIf="isFilterVisible" class="filter-form">
            <div class="card card-body">
                <h5>Filter Options</h5>
                <form >
                    <div class="mb-3">
                        <label for="category" class="form-label">Category Name:</label>
                        <input type="text" id="category" [(ngModel)]="filterCategory" name="category"
                            class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Max Price ($):</label>
                        <input type="number" id="price" [(ngModel)]="filterPrice" name="price" class="form-control" />
                    </div>
                
                    <button type="submit" class="btn btn-flt" (click)="applyFilters()">Apply Filters</button>
                    <button type="submit" class="btn btn-flt mx-5" (click)="clearFilter()">clear Filter</button>
                </form>
            </div>
        </div>

        <div class="section1">
            <div class="product-grid mt-3">
                <div class="row">
                    <div class="col-lg-3 col-md-6 my-3" *ngFor="let product of filteredProducts">
                        <div class="card" style="border: none;">
                            <img [src]="product.image" class="card-img-top product-image" [alt]="product.name" />
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text fw-bold">$ {{ product.price }}</p>

                                <!-- Container for buttons to align them properly -->
                                <div class="card-buttons d-flex justify-content-start align-items-space-between">
                                    <button (click)="goToProductDetails(product.id); openSpinner1()" class="btn btn-shoping-card"
                                        id="viewDetails">View Details</button>
                                    <button (click)="addToCart(product)" class="ms-auto" id="addToCart">
                                        <i class="fa-solid fa-cart-arrow-down fa-2xl"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="errMsg" class="col-md-6 offset-md-3">
        <div class="text-danger bg-light text-center">
            {{errMsg}}
        </div>
    </div>
</div>