<div class="all-page">
  <div class="card">
    <h1 class="addtext">Add New Product</h1>

    <div class="addimg border-dashed">
      <label class="file-label" for="image">
        <p>Upload Product Image</p>
        <input type="file" id="image" (change)="onImageSelected($event)" />
      </label>
    </div>

    <div class="proinfo">
      <label for="name">Product Name:</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="product.name" placeholder="Enter product name" />

      <label for="material">Material:</label>
      <input type="text" id="material" class="form-control" [(ngModel)]="product.material" placeholder="Enter material type" />

      <label for="dimensions">Dimensions:</label>
      <input type="text" id="dimensions" class="form-control" [(ngModel)]="product.dimensions" placeholder="Enter dimensions" />

      <label for="price">Price:</label>
      <input type="number" id="price" class="form-control" [(ngModel)]="product.price" min="0" placeholder="Enter price" />

      <label for="description">Description:</label>
      <textarea id="description" class="form-control" [(ngModel)]="product.description" rows="3"></textarea>

      <button class="btn" (click)="addProduct()">Add Product</button>
    </div>
  </div>
</div>
