.all-page {
    background-image: url("https://img.freepik.com/premium-photo/macrame-arrangement-with-copy-space_23-2149072871.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    padding: 20px
}

.addimg,
.proinfo {
    box-shadow: 0 0 5px #525252;
    border-radius: 10px;
    background: #ebc681c2;
}

.form-control,
.proinfo {
    width: 50%
}

.addimg,
.addtext,
.border-dashed,
.card,
.file-label,
.form-control,
.proinfo,
.proinfo label {
    margin-bottom: 20px
}

.addtext {
    font-size: 35px;
    font-weight: 700;
    padding: 20px
}

.proinfo {
    padding: 20px;
    margin-bottom: 10px !important
}

.proinfo label {
    font-size: 20px
}

.form-control {
    margin-right: 10px
}

.addimg {
    padding: 10px;
    width: 70%
}

.card {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // top: 100px;
    padding: 40px;
    height: 400px
}

.border-dashed {
    // border: 2px dashed #ccc;
    border-radius: 40px
}

.file-label {
    cursor: pointer;
    display: inline-block
}

.file-label p {
    margin-bottom: 10px
}
.btn {
  background-color: #a77b28;
  color: rgb(0, 0, 0);
  padding: 10px 24px;
  transition: .4s !important;
}

.btn:hover {
  background-color: #d1b27c;
  color: rgb(255, 255, 255);
}
