<div class="contaner all-page">
    <div class=container-fluid>
        <div class="mb-3 h-50 jld mt-3">
            <div class="contaner fw-bold">
                <div class="d-block content d-sm-flex">
                    <div class="m-auto w-100 m-sm-2 proinfo">
                        <div class="text-center">
                            <h2>Prouduct Information</h2>
                        </div>
                        <form>
                            <div class=mb-3><label class=form-label for=exampleInputEmail1>Product Name</label> <input
                                    class="form-control w-75" id=exampleInputEmail1 type=email
                                    aria-describedby=emailHelp></div>
                            <div class=my-4><label class=form-label for=exampleInputPassword1>Short Decription</label>
                                <textarea class="form-control w-75" id=floatingTextarea2 style=height:150px></textarea>
                            </div>
                            <div class=my-4><label class=form-label for=exampleInputPassword2>Product Type</label>
                                <select aria-label="Default select example" class="w-100 form-select"
                                    style=margin-bottom:20px>
                                    <option selected>prouduct type
                                    <option value=1>One
                                    <option value=2>Two
                                    <option value=3>Three
                                </select>
                                <div><label class="form-label d-block" for=exampleInputPassword1>Product Price</label>
                                    <input class="form-control d-inline" aria-label="Amount (to the nearest dollar)">
                                    <span>$</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="m-auto w-100 addimg my-sm-2">
                        <div class="text-center">
                            <h2>Prouduct Image</h2>
                        </div>
                        <div>
                            <div class="mt-5 border-dashed card text-center"
                                style="background:#bbb">
                                <div><input class="d-none" id="file-upload" type=file>
                                    <label class=file-label for="file-upload">
                                        <div class="mb-3 file-icon"><i class="fa-file-upload fas" 
                                                style=font-size:48px;color:#ebc681></i></div>
                                        <p class=font-weight-bold>Select Image to Upload</p><small class=text-muted>or
                                            Drag and Drop, Copy and Paste Files</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>