.fa-home {
  background-image: url('https://img.freepik.com/premium-photo/macrame-arrangement-with-copy-space_23-2149072871.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

}

.card {
  background: rgba(235, 198, 129, 0.85);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.addtext {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.form-container {
  display: grid;
  grid-gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea.form-control {
  resize: vertical;
}

.btn-submit {
  background-color: #ad915d;
  color: black;
  padding: 10px 24px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-submit:hover {
  background-color: #d1b27c;
  color: white;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .card {
    padding: 20px;
  }

  .form-container {
    grid-gap: 10px;
  }

  .btn-submit {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .addtext {
    font-size: 24px;
  }

  .form-control {
    font-size: 14px;
  }
}