<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Error Message Section -->
            <div class="col-12 col-md-8">
                <div *ngIf="errMsg" class="text-center alert alert-danger my-3">{{errMsg}}</div>
            </div>
        </div>

        <div class="row">
            <!-- Image Section -->
            <div class="col-md-6 mb-4" id="image-border">
                <img class="img-fluid rounded-3" [alt]="oneProduct?.name" [src]="oneProduct?.image">
            </div>

            <!-- Product Details Section -->
            <div class="col-md-6" id="details">
                <h3 class="text-center fw-bold mb-5" id="title">Pottery</h3>
                <div class="product-details">
                    <h4 class="mb-5">Description:</h4>
                    <p class="mb-5">{{oneProduct?.description}}</p>
                    <h4 class="mb-5">Material: <span class="text-muted">{{oneProduct?.material}}</span></h4>
                    <h4 class="mb-5">Price: <span class="text-sal">{{oneProduct?.price}}$</span></h4>
                    <h6 class="text-muted">Published: {{oneProduct?.date}}</h6>
                </div>
            </div>
            <a class="btn btn-add-to-cart p-3 mt-3 rounded-3" (click)="openSpinner1(); addToCart(oneProduct)" routerLink="/cart" role="button">Add to Cart</a>
        </div>
    </div>
</div>