.btn,
.content,
.icon-home,
.title,
h6 {
    color: #000
}

#btn,
#btn2,
.btn,
.icon-home {
    cursor: pointer
}

*,
.container {
    overflow: hidden
}

.btn,
.panel h3,
h6 {
    font-weight: 600
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

.container::before {
    content: '';
    box-shadow: 0 1px 2px rgba(211, 211, 211, .3), 0 6px 20px rgba(60, 60, 60, .3);
    border-radius: 100px 10px;
    position: fixed;
    left: -40%;
    width: 100%;
    height: 99.8%;
    background: var(--color-gradient);
    z-index: 6;
    transform: translateX(100%);
    transition: .8s ease-in-out
}

.siginin-signup {
    // background-image: url(./../../../../public/img-Sign/file.png);
    background-size: 2000px 960px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5
}

.fb,
.ft {
    gap: 20px;
    align-items: center;
    min-width: 420px;
    position: relative;
    display: flex
}

.ft {
    justify-content: center;
    flex-direction: column
}

.fb {
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    background: 0 0;
    justify-content: center;
    border-radius: 40px
}

.input-field,
.social-icon {
    align-items: center;
    display: flex
}

form.sign-in-form {
    opacity: 1;
    transition: 1s ease-in-out
}

form.sign-up-form {
    opacity: 0;
    transition: 1s ease-in-out
}

.title {
    font-size: 35px;
    margin-bottom: 40px
}

.input-field {
    width: 80%;
    background: 0 0;
    font-size: 1em
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px
}

.input-field input {
    flex: 5;
    width: 200px;
    font-size: 18px;
    border-radius: 10px
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #ffcb9a;
    text-transform: uppercase;
    margin: 10px 0;
    transition: .3s
}

.btn:hover {
    background: #e9c5a4
}

.social-text {
    margin: 10px 0;
    font-size: 16px
}

#password,
#password2,
.icon-home,
.social-icon {
    font-size: 20px
}

.social-media {
    display: flex;
    justify-content: center
}

.social-icon {
    height: 45px;
    width: 45px;
    justify-content: center;
    color: #000;
    border: 2px solid #ffc690;
    margin: 0 5px;
    border-radius: 50%;
    transition: .2s ease-in-out
}

.panel,
.panels-container {
    height: 100%;
    display: flex
}

.icon-home:hover,
.social-icon:hover {
    color: #7c6b5b;
    border-color: #000
}

a {
    text-decoration: none
}

.panels-container {
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between
}

.panel {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    min-width: 238px;
    padding: 0 20px;
    text-align: center;
    z-index: 6
}

.container.sign-up-mode .right-panel,
.left-panel {
    pointer-events: none
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    transition: .5s ease-in-out
}

.panel h3 {
    font-size: 28px
}

.panel p {
    font-weight: 500;
    font-size: 19px;
    padding: 10px 0
}

.left-panel .content,
.left-panel .image {
    transform: translateX(-200%)
}

.container.sign-up-mode .left-panel .content,
.container.sign-up-mode .left-panel .image,
.right-panel .content,
.right-panel .image {
    transform: translateX(0)
}

.account-text {
    display: none
}

.account-text a {
    color: #ff9100
}

.line {
    width: 2px;
    height: 70px;
    background: #000
}

.word {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 60px !important
}

h6 {
    font-size: 17px
}

.container.sign-up-mode::before {
    transform: translateX(-20%)
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
    transform: translateX(110%)
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1
}

.container.sign-up-mode .left-panel {
    pointer-events: all
}

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh
    }
}

@media (max-width:635px) {

    .container.sign-up-mode2 form.sign-in-form,
    .container::before,
    .panels-container,
    form.sign-up-form {
        display: none
    }

    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1
    }

    form {
        width: 80%
    }

    .account-text {
        display: inline;
        margin-top: 30px
    }
}

@media (max-width:320px) {
    form {
        max-width: 350px
    }
}

.icon-home {
    position: relative;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 2px solid #ffc690;
    border-radius: 50%;
    font-weight: 700;
    transition: .2s ease-in-out
}

#password2:focus,
#password:focus {
    outline: 0
}

#btn,
#btn2 {
    background-color: transparent;
    padding: 10px;
    border: none;
    position: absolute;
    right: 11px;
    top: -11px
}