<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<div class="container">
    <div class="siginin-signup">

        <div class="form-container ">

            <form class="sign-in-form ft" #registerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                <h2 class="title">Sign in</h2>

                <div class="input-field form-floating mb-3 ">
                    <input type="email" autofocus [(ngModel)]="userModel.email" name="email" #email="ngModel"
                        type="email" class="form-control " id="floatingInput" aria-describedby="emailHelp"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required
                        [class.is-invalid]="email.invalid && email.touched">
                    <label for="floatingInput">Email address</label>
                </div>
                <small *ngIf="email.invalid && email.touched" class="text-danger">Email is required</small>

                <div class="input-field form-floating">
                    <input [(ngModel)]="userModel.password" autofocus name="password" #password="ngModel" ngModel
                        type="password" class="form-control" id="password" required
                        [class.is-invalid]="password.invalid && password.touched">
                    <!-- <button id="btn sign-in-btn"><i class="fa-solid fa-solid fa-eye-slash fa-eye icon"></i></button> -->
                    <label for="floatingPassword">Password</label>
                </div>
                <small *ngIf="password.invalid && password.touched" class="text-danger">Password is required</small>

                <input type="submit" value="Login" class="btn">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>
        </div>

        <!-- --------------------------------- -->

        <div class="form-container">
            <form action="" class="sign-up-form fb" [formGroup]="regsetForm" novalidate>
                <h2 class="title">Sign up</h2>

                <div class="input-field form-floating mb-3 ">
                    <!-- icon -->
                    <input pattern="[a-zA-Z]*"
                        [class.is-invalid]="regsetForm.get('userName')?.touched && regsetForm.get('userName')?.invalid"
                        formControlName="userName" type="text" class="form-control" aria-label="Name">

                    <label for="floatingUserName">User Name</label>
                </div>
                <div *ngIf="regsetForm.get('userName')?.touched && regsetForm.get('userName')?.invalid">
                    <small class="text-danger" *ngIf="regsetForm.get('userName')?.errors?.['required']">Name is
                        required</small>
                    <small class="text-danger" *ngIf="regsetForm.get('userName')?.errors?.['minlength']">maximum name is
                        3 characters at
                        least</small>
                    <small class="text-danger" *ngIf="regsetForm.get('userName')?.errors?.['forbiddenName']">UserName
                        admin is not
                        allwod</small>
                </div>
                <div class="input-field form-floating">
                    <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        aria-describedby="emailHelp"
                        [class.is-invalid]="regsetForm.get('Email')?.touched && regsetForm.get('Email')?.invalid"
                        formControlName="Email" type="text" class="form-control" aria-label="Email"
                        id="validationTextarea" required>
                    <label for="validationTextarea">Email address</label>
                </div>
                <!-- <small *ngIf="email.invalid && email.touched" class="text-danger">Email is required</small> -->

                <div class="input-field form-floating">
                    <!-- icon -->
                    <input formControlName="password" type="password" class="form-control" id="password2">
                    <!-- <button id="btn2 sign-in-btn2"><i class="fa-solid fa-solid fa-eye-slash fa-eye icon"></i></button> -->
                    <label for="floatingPassword">Password</label>
                </div>
                <small *ngIf="regsetForm.get('password')?.touched && regsetForm.get('password')?.invalid"
                    class="text-danger">Password
                    is required</small>
                <div class="input-field form-floating">
                    <input formControlName="confirmPassword" type="password" class="form-control"
                        [class.is-invalid]="regsetForm.errors?.['misMatch']" id="exampleInputPassword1">
                    <label for="floatingPassword">Confirm Password</label>
                </div>
                <input type="submit" value="Sign up" class="btn">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
        </div>
    </div>
    <div class="panels-container">

        <div class="panel left-panel">

            <div class="content">

                <h3>Hello, Friend 👋</h3>
                <p class="word">We're thrilled to have you back to explore the unique treasures of Egyptian handmade
                    crafts. Here, you'll find works that blend heritage, art, and creativity, with every piece telling
                    the story of its maker. Dive in now, discover new creations, and support the local artisans who keep
                    this rich tradition alive.</p>
                <div>
                    <h6 style="display: inline; margin-right: 10px;">I already have an account </h6>
                    <button class="btn" id="sign-in-btn">Sign in</button>
                </div>
                <a routerLink="/" class="icon-home"><i class="fa-solid fa-house"></i></a>
            </div>
        </div>
        <div class="panel right-panel">

            <div class="content">

                <h3>Happy To See You Again ✨ </h3>
                <p class="word">
                    Welcome back! Discover the beauty of Egyptian handmade crafts and support local artisans.

                </p>
                <div>
                    <h6 style="display: inline; margin-right: 10px;">I don't have an account</h6>
                    <button class="btn" id="sign-up-btn">Sign up</button>
                </div>
                <a routerLink="/" class="icon-home"><i class="fa-solid fa-house"></i></a>
            </div>
        </div>
    </div>

</div>